.left-right-5 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.container-library {
  border: 2px solid black;
  border-radius: 2%;
  width: 50vw;
  height: 30vh;
  overflow-y: auto;
  margin: auto .5vw;
}

@media only screen and (max-width: 1200px) {
  .left-right-5 {
    flex-direction: column;
  }
  .container-library {
    margin: auto;
  }

}
