<div class="row m-0 h-100">
  <div class="col m-auto mt-1">
    <div class="card m-auto">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-tree-fill"></i> NX-TREE</h5>
        <h6 class="card-subtitle mb-2 text-muted">Simple Tree Viewer</h6>
        <p class="card-text">My first library. It is a simple and good solution for personalize and show your json
          object</p>
        <p>An example are <a [routerLink]="['/nx-tree']"> here</a></p>
      </div>
    </div>
  </div>
  <div class="col m-auto mt-1">
    <div class="card m-auto">
      <div class="card-body">
        <h5 class="card-title"><i class="bi bi-list-columns"></i> NX-DRAGGABLE-CAROUSEL</h5>
        <h6 class="card-subtitle mb-2 text-muted">Simple Dragabble Carousel</h6>
        <p class="card-text">Simple and good solution for your draggable and/or auto carousel </p>
        <p>An example are <a [routerLink]="['/nx-draggable-carousel']"> here</a></p>
      </div>
    </div>
  </div>
</div>
