<div class="background-circles"></div>
<div class="overlay" [ngClass]="{'show' : showSidebar}"></div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="sidebar" [ngClass]="{'show' : showSidebar}">
  <app-sidebar (closeSidebar)="showSidebar = false" [ngClass]="{'show' : showSidebar}"></app-sidebar>
</div>
<div class="footer flex-row">
  <img id="logo" src="assets/logo.png"/>
  <div class="ms-auto me-2 d-flex flex-row">
    <a href="https://www.linkedin.com/in/giovanni-emanuele-longo-716b2a100/" class="w-100 my-auto me-2" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/giolongo" class="w-100 my-auto me-2" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    <a href="https://giolongo.github.io/giolongo/" class="w-100" target="_blank">
      <img class="h-100" src="assets/gle.png"/>
    </a>
  </div>
</div>
<div class="open-sidebar" [ngClass]="{'show' : showSidebar}" (click)="showSidebar = !showSidebar">
  <i class="bi bi-chevron-compact-right"></i>
</div>

