<div class="d-flex h-100 w-100">
  <div class="card card-w m-auto">
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li ngbNavItem="example">
          <button ngbNavLink>Example</button>
          <ng-template ngbNavContent>
            <nx-draggable-carousel
              [debounceAutoMove]="automoveDebounce"
              [maxHeight]="'100%'"
              [maxWidth]="'100%'"
              [elementHeight]="'100%'"
              [elementWidth]="'50%'"
              [elements]="elements"
            ></nx-draggable-carousel>
          </ng-template>
        </li>
        <li ngbNavItem="code - HTML">
          <button ngbNavLink>Code - HTML
            <i (click)="$event.stopPropagation()" ngxClipboard [cbContent]="inhtml" class="bi bi-copy"></i>
          </button>
          <ng-template ngbNavContent>
            <pre><code [highlight]="inhtml" language="html"></code></pre>
          </ng-template>
        </li>
        <li ngbNavItem="code - TS">
          <button ngbNavLink>Code - TS
            <i (click)="$event.stopPropagation()" ngxClipboard [cbContent]="ints" class="bi bi-copy"></i>
          </button>
          <ng-template ngbNavContent>
            <pre><code [highlight]="ints" language="ts"></code></pre>
          </ng-template>
        </li>
        <li ngbNavItem="Install">
          <button ngbNavLink>Install
            <i (click)="$event.stopPropagation()" ngxClipboard [cbContent]="install" class="bi bi-copy"></i>
          </button>
          <ng-template ngbNavContent>
            <pre><code [highlight]="install" language="JavaScript"></code></pre>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
  </div>
</div>




