<div class="d-flex flex-column w-100 h-100">
  <div class="mt-2 mb-auto">
    <img class="w-100 h-100" src="assets/gle.png"/>
  </div>
  <div class="d-flex flex-column mx-auto">
    <a [routerLink]="['./nx-tree']" routerLinkActive="font-weight-bold" class="nav-link"
       data-bs-original-title="Home">
      <i class="bi-tree-fill fs-2"></i>
    </a>
    <a [routerLink]="['./nx-draggable-carousel']" routerLinkActive="font-weight-bold" class="nav-link"
       data-bs-original-title="Dashboard">
      <i class="bi-list-columns fs-2"></i>
    </a>
  </div>
  <div class="mt-auto mb-2 d-flex flex-column mx-auto">
    <a href="https://www.linkedin.com/in/giovanni-emanuele-longo-716b2a100/" class="h-100 w-100" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/giolongo" class="h-100 w-100" target="_blank">
      <i class="bi bi-github"></i>
    </a>
  </div>

</div>
