<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top h-100 p-0">
  <a [routerLink]="['./home']" class="d-block p-3 link-dark text-decoration-none">
    <img src="assets/logo.png">
  </a>
  <ul
    class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-start w-100 px-3 align-items-center">
    <li class="nav-item">
      <a [routerLink]="['./nx-tree']" routerLinkActive="font-weight-bold" class="nav-link py-3 px-2"
         data-bs-original-title="Home">
        <i class="bi-tree-fill fs-2"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['./nx-draggable-carousel']" routerLinkActive="font-weight-bold" class="nav-link py-3 px-2"
         data-bs-original-title="Dashboard">
        <i class="bi-list-columns fs-2"></i>
      </a>
    </li>
  </ul>
  <div class="row mt-sm-auto me-0 text-center">
    <a href="https://www.linkedin.com/in/giovanni-emanuele-longo-716b2a100/" class="p-0" target="_blank">
      <i class="bi bi-linkedin"></i>
    </a>
    <a href="https://github.com/giolongo" class="p-0" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    <i class="col-12 p-0 d-none d-sm-block">Giovanni E.</i>
    <i class="col-12 p-0 d-none d-sm-block">Longo</i>
  </div>
</div>
